.boomer-row {
    display: flex;
    flex-direction: row;
    background-color: var(--background-fill-secondary);
    padding: 0.5em 2em;
    height: auto;
    border-radius: 0.5em;
    gap: 1em;
    margin: 0.5em 1em;
    align-content: center;
    flex-wrap: wrap;
}

    .boomer-row .boomer-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--button-secondary-background-fill);
        color: var(--button-secondary-text-color);
        border-radius: var(--button-large-radius);
        padding: var(--button-large-padding);
        font-weight: var(--button-large-text-weight);
        font-size: var(--button-large-text-size);
        margin: 0px !important;
    }
